.notification {
  border-radius: 4px; 
  padding: 10px 34px;
  margin: 0;
  display: block;
  position: relative;
}

.notification::before {
  left: 10px;
  position: absolute;
  transform: translateY(10%);
}

.notification--info {
  background: #F0F1F3;
}

.notification--check {
  background: #E9F8EB;
}

.notification--warning {
  background: #FFF8E0;
}

.notification--alert {
  background: #FDEAE4;
}

.notification--info::before {
  content: url(..//../../icons/info.png);
}

.notification--check::before {
  content: url(..//../../icons/check.png);
}

.notification--warning::before {
  content: url(..//../../icons/warning.png);
}

.notification--alert::before {
  content: url(..//../../icons/alert.png);
}