.header__section--version1 {
  padding: 0 32px 16px 0;
}

.header__section--version2 {
  padding: 0;
}

.notification__section {
  padding: 0;
}

.description__section--version1 {
  padding-top: 12px;
  padding-bottom: 0;
}

.description__section--version2 {
  padding: 0;
}

.button__section {
  padding: 32px 0 0 0;
}