a, h2, p, h3, h4 {
  text-decoration: none;
  margin: 0;
}

button {
  border: none;
}

.header__background {
  background-color: #59A8EA;
  max-width: 1600px;
}

.content {
  position: relative;
  width: 1170px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding-left: 138px;
}

.logo__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  gap: 30px;
}

.nav__item {
  padding-top: 32px;
  padding-bottom: 20px;
}

.text--regular {
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.active {
  border-bottom: 2px solid #FFFFFF;
}

.compressed__nav {
  display: none;
}

.contact__info {
  display: flex;
  align-items: baseline;
  margin-left: 210px;
}

.menu__button {
  position: absolute;
  top: 0;
  color: #FFFFFF;
  border-radius: 0 0 5px 5px;
  background-color: #81C820;
  transform: translateX(26px);
}

.button__text {
  padding: 6px 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.text--number {
  margin-left: 8px;
  margin-top: 27px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #FFFFFF;
  letter-spacing: 0.02em;
}

.info {
  display: flex;
  align-items: center;
  padding-left: 35px;
}

.search__icon {
  transform: translateY(7px);
}

.nav__icon {
  transform: translateY(5px);
  margin-left: 39px;
}

.location {
  transform: translateY(6px);
  margin-left: 7px;
}

.banner__background {
  background-color: #F1FFFC;
  max-width: 1600px;
}

.banner__section {
  position: relative;
}

.content--2 {
  width: 1170px;
  margin: 0 auto;
}

.banner {
  display: flex;
}

.collumn {
  flex-direction: column;
}

.header__text {
  margin-top: 81px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 45px;
  line-height: 50px;
}

.definition {
  margin-right: 70px;
  width: 530px;
  margin-top: 10px;
  color: #545454;
}

.description {
  width: 520px;
  margin-top: 28px;
  color: #545454;
}

.text--2 {
  display: block;
  font-family: "HelveticaNeueCyr";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #545454;
  margin-top: 45px;
}

.button--banner {
  margin-top: 30px;
  width: 205px;
  height: 50px;
  margin-bottom: 90px;
  vertical-align: center;
}

.inline {
  display: inline;
}

.calculator__icon {
  margin-left: 11px;
  transform: translateY(4px);
}

.banner__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.img__b {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__background {
  max-width: 1600px;
  background-image: url(../images/background.svg);
}

.background--white {
  background-color: #FFFFFF;
  max-width: 1600px;
}

.page__path {
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.page__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #545454;
}

.page__text::after {
  content: " / ";
}

.page--active {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #59A8EA;
}

.about__section--1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 127px;
  margin-bottom: 170px;
}

.collage {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.image--1 {
  grid-row: 1/3;
  grid-column: 1/2;
}

.paragraph__container {
  width: 538px;
  margin-left: 60px;
}

.section__tag {
  margin-bottom: 7px;
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #81C820;
  text-transform: uppercase;
}

.header__text--2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #000000;
}

.title__about {
  margin-bottom: 52px;
}

.text--3 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #545454;
}

.text--bold {
  font-weight: 700;
}

.description--2 {
  margin-bottom: 20px;
}

.background--blue {
  background-color: #DFF1FF;
  max-width: 1600px;
}

.values__section {
  position: relative;
}

.title__values {
  padding-top: 47px;
  padding-bottom: 24px;
  text-align: center;
}

.paragraph__numbers--container {
  display: flex;
  flex-direction: column;
  padding-bottom: 42px;
}

.values__items {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  z-index: 0;
}

.background__values {
  background-image: linear-gradient(to bottom, #FAFDFF 127px, #DFF1FF 127px);
}

.paragraph__numbers--container::before {
  content: "";
  background-image: linear-gradient(to bottom, #FAFDFF 127px, #DFF1FF 127px);
  position: absolute;
  width: 100%;
  height: 420px;
  left: 0;
  bottom: 0;
}

.paragraph__numbers--text {
  font-family: "Roboto";
  letter-spacing: 0.03em;
  color: #545454;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
}

.header__values {
  width: 370px;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.03em;
  color: #545454;
}

.paragraph__numbers {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 21px;
}

.values__paragraph--container {
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.values__paragraph {
  width: 370px;
}

.clean__section {
  display: flex;
  justify-content: space-between;
}

.clean__container {
  width: 530px;
  padding-top: 14px;
}

.clean__container .description--2 {
  margin-top: 48px;
}

.clean__container .section__tag {
  margin-bottom: 10px;
}

.collage--2 {
  width: 50%;
  position: relative;
  gap: 10px;
  display: flex;
}

.image--2 {
  grid-row: 3/4;
  grid-column: 1/2;
}

.image--3 {
  grid-row: 1/2;
  grid-column: 2/3;
}

.image--4 {
  grid-column: 2/3;
  grid-row: 2/4;
  margin-top: 10px;
}

.image__position {
  position: absolute;
  top: 0;
  left: 0;
}

.image__position--2 {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.team__section {
  margin-bottom: 170px;
  position: relative;
  max-width: 1600px;
}

.team__section--container {
  display: flex;
  position: relative;
  height: 528px;
}

.background__team {
  background-image: linear-gradient(to right, #F1F9F9 50%, #FFEEDF 50%);
}

.about__team {
  width: 30%;
  padding-left: 15px;
}

.about__team .section__tag {
  color: #7AAEAE;
  margin-bottom: 10px;
  margin-top: 57px;
}

.about__team .text--3 {
  margin-top: 57px;
}

.img__container {
  margin: 0 50px;
  width: 40%;
  overflow: hidden;
}

.team__image {
  object-position: -33px;
  height: 111%;
  transform: translateY(-7%);
}

.team__subtitle {
  width: 30%;
  color: #545454;
  padding-left: 15px;
}

.sublitle__header--text {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  margin-top: 59px;
  margin-bottom: 10px;
}

.subtitle__text {
  display: block;
  position: relative;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  padding-left: 22px;
}

.subtitle__text::before {
  content: url(../images/coolicon.svg);
  position: absolute;
  left: 0;
  top: 10px;
}

.button__container {
  margin-top: 10px;
  margin-bottom: 0;
}

.background__footer {
  background-image: linear-gradient(to right, #87A8D0 170px, #DEECFC 170px);
  position: relative;
}

.footer {
  position: relative;
  background-color: #DEECFC;
  max-width: 1600px;
}

.footer::before {
  content: "";
  background-color: #87A8D0;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
}

.footer__container {
  display: flex;
  gap: 60px;
  padding-top: 78px;
  margin-left: 15px;
  padding-bottom: 38px;
}

.logo__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__header {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #545454;
  margin-bottom: 10px;
}

.footer__subtitles {
  display: flex;
  gap: 79px;
}

.subtitles__section {
  display: flex;
  flex-direction: column;
}

.footer__subtitle {
  max-width: 147px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.03em;
  padding-top: 10px;
  color: #545454;
}

.text--4 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.text--5 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #76AEDC;
}

.bottom__other {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.img__button {
  position: fixed;
  bottom: 38px;
  right: 100px;
  z-index: 1;
}

.clean__section--container {
  padding: 180px 0;
}

.team__section::before {
  content: "";
  background-color: #f2f9f9;
  width: 50%;
  height: 100%;
  position: absolute;
}

.team__section::after {
  content: "";
  background-color: #FFEEDF;
  width: 50%;
  top: 0;
  right: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.button__design {
  border: none;
  color: #FFFFFF;
  background-color: #81C820;
}

.button--team {
  width: 205px;
  height: 50px;
}

@media only screen and (max-width: 1199px) {
  .header__background {
    max-width: 1200px;
  }
  .content {
    width: 700px;
  }
  .content--2 {
    width: 700px;
  }
  .navigation {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-content: space-between;
  }
  .nav__item {
    padding-bottom: 10px;
    padding-top: 0;
  }
  .nav__icon {
    margin-left: 23px;
  }
  .description {
    width: 378px;
    margin-top: 36px;
  }
  .definition {
    margin-right: 15px;
    width: 378px;
    margin-top: 20px;
  }
  .text--2 {
    width: 350px;
    margin-top: 83px;
  }
  .header {
    display: grid;
    padding-left: 108px;
    grid-template-columns: auto 20px 40px 94px;
    grid-template-rows: 62px 34px;
  }
  .header__text {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 40px;
  }
  .button--banner {
    margin-bottom: 44px;
  }
  .text--number {
    margin-top: 3px;
    font-size: 20px;
    line-height: 26px;
  }
  .location {
    display: none;
  }
  .contact__info {
    justify-content: right;
    margin-left: 0;
    padding-top: 25px;
    grid-column: 2/5;
    grid-row: 1/2;
  }
  .info {
    grid-row: 2/3;
    grid-column: 4/5;
    padding-left: 25px;
    margin-bottom: 30px;
  }
  .button__text {
    font-size: 9px;
    line-height: 12px;
  }
  .menu__button {
    transform: translateX(4px);
  }
  .banner__img {
    width: 45%;
  }
  .page__path {
    margin-top: 75px;
  }
  .about__section--1 {
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 130px;
  }
  .collage {
    width: 100%;
    margin-bottom: 50px;
  }
  .image--1 {
    width: 97%;
    height: 100%;
    margin-right: 10px;
  }
  .image--2 {
    width: 97%;
    margin-top: 10px;
  }
  .image--3 {
    width: 100%;
    height: 100%;
  }
  .image--4 {
    width: 100%;
    margin-top: 10px;
  }
  .paragraph__container {
    width: 100%;
    margin-left: 0;
  }
  .paragraph__numbers {
    align-content: flex-start;
    width: 210px;
    margin-left: 12px;
  }
  .header__text--2 {
    font-size: 30px;
    line-height: 35px;
  }
  .title__about {
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .paragraph__numbers--container {
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 35px;
  }
  .values__paragraph--container {
    flex-direction: row;
    gap: 49px;
  }
  .title__values {
    padding: 35px 0 0 0;
    text-align: right;
    margin-right: 105px;
  }
  .values__items {
    flex-direction: column;
    gap: 30px;
  }
  .values__paragraph {
    width: 408px;
  }
  .paragraph__numbers--container::before {
    display: none;
  }
  .background__values {
    background-image: none;
  }
  .background__values--2 {
    background-image: linear-gradient(to right, #FAFDFF 235px, #DFF1FF 235px);
  }
  .clean__section--container {
    padding: 130px 0;
  }
  .clean__section {
    flex-direction: column-reverse;
  }
  .collage--2 {
    width: 100%;
    margin-bottom: 136px;
  }
  .image__position {
    position: unset;
    width: 48%;
  }
  .image__position--2 {
    width: 48%;
    top: 25%;
  }
  .team__section--container {
    flex-direction: column;
    height: unset;
  }
  .img__container {
    order: -1;
    width: 100%;
    margin: 0;
    height: 528px;
  }
  .clean__container {
    width: 670px;
  }
  .clean__container .description--2 {
    margin-top: 50px;
  }
  .team__image {
    width: 100%;
    height: unset;
    object-position: unset;
  }
  .about__team {
    width: unset;
    padding-right: 15px;
  }
  .team__subtitle {
    width: unset;
    padding-left: 15px;
  }
  .about__team .section__tag {
    margin-top: 50px;
  }
  .about__team .text--3 {
    margin-top: 40px;
  }
  .sublitle__header--text {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .subtitle__text::before {
    top: 0;
    bottom: 2px;
  }
  .team__section::before {
    content: none;
  }
  .team__section::after {
    content: none;
  }
  .background__team {
    background-image: linear-gradient(to bottom, #F1F9F9 67%, #FFEEDF 33%);
  }
  .button__container {
    margin-bottom: 60px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }
  .logo__section {
    justify-content: space-around;
    align-items: baseline;
  }
  .footer__container {
    gap: 20px;
  }
  .subtitle__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60px;
  }
  .subtitle__item .footer__subtitle {
    margin-right: 54px;
  }
  .footer__subtitles {
    flex-wrap: wrap;
    gap: 22px;
  }
  .logo__icon--footer {
    width: 77px;
  }
  .bottom__other {
    display: none;
  }
  .img__button {
    display: none;
  }
  .background__footer {
    background-image: linear-gradient(to right, #87A8D0 105px, #DEECFC 105px);
  }
}
@media only screen and (max-width: 768px) {
  .content {
    width: 540px;
  }
  .content--2 {
    width: 540px;
  }
  .header__background {
    max-width: 768px;
    background: linear-gradient(180deg, #FFFFFF 40%, #59A8EA 40%);
  }
  .header {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 44px 69px;
  }
  .header {
    padding-left: 114px;
  }
  .header__text {
    color: #FFFFFF;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 62px;
    font-size: 30px;
    line-height: 40px;
  }
  .filter--grey {
    -webkit-filter: grayscale(0.6) invert(0.6);
    filter: grayscale(0.6) invert(0.6);
  }
  .navigation {
    display: none;
  }
  .compressed__nav {
    display: flex;
    grid-row: 2/3;
  }
  .compressed__nav img {
    width: 24px;
  }
  .logo__icon {
    width: 85px;
  }
  .info {
    margin-top: 17px;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: right;
    padding-bottom: 8px;
  }
  .contact__info {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .location {
    display: flex;
    color: #545454;
  }
  .text--number {
    font-size: 26px;
    line-height: 30px;
  }
  .menu__button {
    display: none;
  }
  .button--banner {
    width: 510px;
    height: 62px;
    margin-bottom: 30px;
  }
  .text--2 {
    width: 510px;
    margin-top: 10px;
  }
  .definition {
    margin-top: 93px;
    width: 510px;
  }
  .description {
    width: 510px;
    margin-top: 10px;
  }
  .banner__img {
    width: 100%;
    height: 34%;
  }
  .img__b {
    filter: brightness(0.5);
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__subtitles {
    gap: 20px;
  }
  .subtitle__item {
    height: 100px;
    max-width: 147px;
  }
  .footer__header {
    font-size: 14px;
    line-height: 20px;
  }
  .footer__subtitle {
    font-size: 12px;
    line-height: 16px;
    width: 161px;
    max-width: unset;
  }
  .subtitle__item .footer__subtitle {
    width: 147px;
    margin-right: 37px;
  }
  .title__about {
    padding: 0;
  }
  .page__path {
    margin-top: 55px;
  }
  .values__paragraph--container {
    flex-direction: column;
  }
  .values__paragraph {
    width: 510px;
  }
  .title__values {
    text-align: left;
  }
  .background__values--2 {
    background-image: none;
  }
  .background__values--3 {
    background-image: linear-gradient(to bottom, #FAFDFF 130px, #DFF1FF 130px);
  }
  .values__paragraph--container::after {
    content: "";
    left: 0;
    width: 100%;
    height: 130px;
    z-index: -1;
    background-image: linear-gradient(to bottom, #FAFDFF 130px, #DFF1FF 130px);
    position: absolute;
  }
  .clean__container {
    width: 510px;
  }
  .clean__section--container {
    padding-bottom: 70px;
  }
  .about__team .section__tag {
    margin-top: 0;
  }
  .about__team .text--3 {
    margin-top: 50px;
  }
  .button__container {
    margin-bottom: 40px;
  }
  .team__section {
    margin-bottom: 130px;
  }
  .logo__section {
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
  }
  .logo__icon--footer {
    width: 123px;
  }
  .footer__container {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .background__footer {
    background-image: linear-gradient(to bottom, #87A8D0 117px, #DEECFC 117px);
  }
  .footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #87A8D0 117px, #DEECFC 117px);
  }
}
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
