.font {
    font-family: Roboto;
} 

.menu {
    margin-left: 399px;
    margin-top: 79px;
}

.header_size {
    position: absolute;
    width: 1920px;
} 

.header_background {
    background-color: #EEEFF1;
}

.menu_text {
    margin-right: 42px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    display: inline-block;
    box-sizing: border-box;
} 

.menu_main {
    font-weight: 500;
    color: #34547A;
}

.header {
    display: inline-block;
    margin-left: 399px;
    width: 541px;
    text-align: left;
}

.header_text {
    /* width: 541px; */
    margin-top: 162px;
    margin-bottom: 60px;

    font-weight: 500;
    font-size: 48px;
    line-height: 79px;  

    box-sizing: content-box;
    /* display: inline-block; */
}

.header_description {
    /* width: 540px; */
    /* margin-left: 400px; */ 
    /* margin-top: 60px; */

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    box-sizing: content-box;
    color: #727272;
    /* display: inline-block; */
}

.bottom_text {
    padding-top: 19px;
    padding-bottom: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;

    text-transform: uppercase;
    box-sizing: border-box;
}

.bottom {
    margin-left: 399px;
    margin-top: 65px;   
    margin-bottom: 141px;
    width: 225px;
    color: #FFFFFF;
    background-color: #34547A;
    display: block;
}

.main {
    width: 1920px;
}

.main_header {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

