$color--1: #59A8EA;
$color--2: #FFFFFF;
$color--3: #81C820;
$color--4: #545454;
$color--5: #F1FFFC;
$font--helvetica: 'HelveticaNeueCyr';
$font--roboto: 'Roboto';
$regular__spacing: 0.02em; 

a, h2, p {
  text-decoration: none;
  margin: 0;
}

button {
  border:none;
}

.header__background {
  background-color: $color--1;
  max-width: 1600px;
}

.content {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding-left: 138px;
}

.logo__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  gap: 30px;
}

.nav__item {
  padding-top: 32px;
  padding-bottom: 20px;
}

.text--regular {
  font-family: $font--helvetica;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: $regular__spacing;
  color: $color--2;
}

.active {
  border-bottom: 2px solid $color--2;
}

.compressed__nav {
  display: none;    
}

.contact__info {
  display: flex;
  align-items: baseline;
  margin-left: 215px;
}

.menu__button {
  position: absolute;
  top: 0;
  color: $color--2;
  border-radius: 0 0 5px 5px;
  background-color: $color--3;
  transform: translateX(26px);
}

.button__text {
  padding: 6px 4px;
  font-family: $font--roboto;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: $regular__spacing;
  text-transform: uppercase;
}

.text--number {
  margin-left: 8px;
  margin-top: 27px;
  font-family: $font--roboto;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: $color--2;
  letter-spacing: $regular__spacing;
}

.info {
  display: flex;
  align-items: center;
  padding-left: 35px;
}

.search__icon {
  transform: translateY(7px);
}

.nav__icon {
  transform: translateY(5px);
  margin-left: 39px;
}

.location {
  transform: translateY(6px);
  margin-left: 7px;
}

.banner__background {
  background-color: $color--5; 
  max-width: 1600px;
}

.banner__section {
  position: relative;
}

.content--banner {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  display: flex;
}

.collumn {
  flex-direction: column;
}

.header__text {
  margin-top: 81px;
  font-family: $font--roboto;
  font-weight: 500;
  font-size: 45px;
  line-height: 50px;
}

.definition {
  margin-right: 70px;
  width: 530px;
  margin-top: 10px;
  color: $color--4;
}

.description {
  width: 520px;
  margin-top: 28px;
  color: $color--4;
}

.text--2 {
  display: block;
  font-family: $font--helvetica;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: $color--4;
  margin-top: 45px;
}

.banner__button {
  margin-top: 30px;
  width: 205px;
  height: 50px;
  margin-bottom: 90px;
  border: none;
  vertical-align: center;
  color: $color--2;
  background-color: $color--3;
}

.inline {
  display: inline;
}

.calculator__icon {
  margin-left: 11px;
  transform: translateY(4px); 
}

.banner__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.img__b {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1200px) {
  .header__background {
    max-width: 1200px;
  }

  .content {
    width: 700px;
  }

  .content--banner {
    width: 700px;
  }

  .navigation {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-content: space-between;
  }

  .nav__item {
    padding-bottom: 10px;
    padding-top: 0;
  }

  .nav__icon {
    margin-left: 23px;
  }

  .description {
    width: 378px;
    margin-top: 36px;
  }

  .definition {
    margin-right: 15px;
    width: 378px;
    margin-top: 20px;
  }

  .text--2 {
    width: 350px;
    margin-top: 83px;
  }

  .header {
    display: grid;
    padding-left: 108px;
    grid-template-columns: auto 20px 40px 94px;
    grid-template-rows: 62px 34px;
  }

  .header__text {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 40px;
  }

  .banner__button {
    margin-bottom: 44px
  }

  .text--number {
    margin-top: 3px;
    font-size: 20px;
    line-height: 26px;
  }

  .location {
    display: none;
  }

  .contact__info {
    justify-content: right;
    margin-left: 0;
    padding-top: 25px;
    grid-column: 2/5;
    grid-row: 1/2;
  }

  .info {
    grid-row: 2/3;
    grid-column: 4/5;
    padding-left: 25px;
    margin-bottom: 30px;
  }

  .button__text {
    font-size: 9px;
    line-height: 12px;
  }

  .menu__button {
    transform: translateX(4px);
  }

  .banner__img {
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 540px;
  }

  .content--banner {
    width: 540px;
  }

  .header__background {
    max-width: 768px;
    background: linear-gradient(180deg, $color--2 40%, $color--1 40%)
  }

  .header {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 44px 69px;
  }

  .header {
    padding-left: 114px;
  }

  .header__text {
    color: #FFFFFF;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 62px;
    font-size: 30px;
    line-height: 40px;
  }
   
  .filter--grey {
    -webkit-filter: grayscale(0.6) invert(0.6);
    filter: grayscale(0.6) invert(0.6);
  }

  .navigation {
    display: none;
  }

  .compressed__nav {
    display: flex;
    grid-row: 2/3;
  }

  .compressed__nav img {
    width: 24px;
  }

  .logo__icon {
    width: 85px;
  }

  .info {
    margin-top: 17px;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: right;
    padding-bottom: 8px;
  }

  .contact__info {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .location {
    display: flex;
    color: $color--4;
  }

  .text--number {
    font-size: 26px;
    line-height: 30px;
  }

  .menu__button {
    display: none;
  }

  .banner__button {
    width: 510px;
    height: 62px;
    margin-bottom: 30px;
  }

  .text--2 {
    width: 510px;
    margin-top: 10px;
  }

  .definition {
    margin-top: 93px;
    width: 510px;
  }

  .description {
    width: 510px;
    margin-top: 10px;
  }

  .banner__img {
    width: 100%;
    height: 34%;
  }

  .img__b {
    filter: brightness(0.5);
  }
}
/*# sourceMappingURL=style.scss.map */
